# Ignore everything in the scraper_data folder
/scraper_data/

# Ignore everything in the processed_data folder
/processed_data/

# Ignore user's data
user_data_tiktok.json

# Ignore useless folders
.idea/
Lib/site-packages/
myenv/